<!-- Footer-->
<footer>
    <div class="container content">
        <div class="row">
            <!-- Contact info-->
            <div class="col-md-12 text-right">
                <!-- Social links-->
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/malcolmcordovacom-348826256077/" target="_blank" class="fa fa-facebook"></a>

                    </li>
                    <li>
                        <a href="https://www.instagram.com/malcolmcordova/" target="_blank" class="fa fa-instagram"></a>

                    </li>
                    <li>
                        <a href="https://twitter.com/MalcolmCordova" target="_blank" class="fa fa-twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/malcolm-cordova-5b5a9750/" target="_blank" class="fa fa-linkedin"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCjRqFIGgqhwD1Pl9zfop5DA?view_as=subscriber" target="_blank" class="fa fa-youtube-play"></a>
                    </li>
                </ul>
                <!-- Copyright message-->
                <div class="copyright">2019&copy; Producido por: Malcolm Cordova. Todos los derechos reservados.</div>
            </div>
        </div>
    </div>
</footer>