<!-- Hero & Tera Slider-->
<section class="slider">
    <ul class="slides">
        <li class="slide ">
            <div class="hero fs ">
                <div style="background-image: url(./assets/img/03.jpg);" class="bg  parallax"></div>
                <div class="container text-center offset-top">
                    <div class="content">
                        <h1 class="lg">Diseño Gráfico <br> y Desarrollo Web.</h1>
                        <h3>Soluciones Dinámicas de rápida implementación con uso por demanda.</h3>
                    </div>
                </div>
            </div>
        </li>
        <li class="slide ">
            <div class="hero fs vcenter">
                <div style="background-image: url(./assets/img/img5.jpg);" class="bg  parallax"></div>
                <div class="container text-center">
                    <div class="content">
                        <h1 class="lg">Soluciones Gráficas.</h1>
                        <h3>Generamos Respuestas efectivas para medios Gráficos Digitales.</h3>
                    </div>
                </div>
            </div>
        </li>
        <li class="slide">
            <div class="hero fs vbottom">
                <div style="background-image: url(./assets/img/img3.jpg);" class="bg faded-subtle parallax"></div>
                <div class="container">
                    <div class="content">
                        <h1 class="lg">Producción Audivisual.</h1>
                        <h4>Creaciones de buen gusto para su producto.</h4>
                    </div>
                </div>
            </div>
        </li>
        <li class="slide ">
            <div class="hero fs vbottom">
                <div style="background-image: url(./assets/img/02.jpg);" class="bg faded-subtle parallax"></div>
                <div class="container ">
                    <div class="content">
                        <h1 class="lg">Asesoría Web.</h1>
                        <h4>Atención dedicada para su Proyecto y/o Empresa.</h4>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

<!-- Hero & Tera Slider-->
<!--section class="slider">
    <ul class="slides">
        <div *ngFor="let slider of sliders">
            <li class="slide ">
                <div class="hero fs {{slider.class}}">
                    <div [ngStyle]="{'background-image': 'url(' + slider.image + ')'}" class="bg  faded-subtle parallax"></div>
                    <div class="container {{slider.align}}">
                        <div class="content">
                            <h1 class="lg">{{slider.title}}</h1>
                            <h3>{{slider.description}}</h3>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</section-->