<app-slider></app-slider>
<section>
    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title-block">
                    <h3 class="item">"El arte expande posibilidades, el desarrollo las concreta." </h3>
                    <p>Pensamiento Personal.</p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="top-line">
    <div class="container content text-center">
        <div class=" text-center">
            <h1 class="item">Mundos de posibilidades.</h1>
        </div>
        <div class="row">
            <div class="col-md-3 service">
                <div class="icon ion-lightbulb item"></div>
                <h4>Diseño Gráfico.</h4>
                <p>Creamos en formatos de impresión y digital, atractivos diseños para sus publicaciones.</p>
            </div>
            <div class="col-md-3 service">
                <div class="icon ion-monitor item"></div>
                <h4>Diseño y Desarrollo Web UI UX.</h4>
                <p>Diseñamos y desarrollamos su sito web en diferentes formatos para diferentes Dispositivos.</p>
            </div>
            <div class="col-md-3 service">
                <div class="icon ion-monitor item"></div>
                <h4>Desarrollo WebApp.</h4>
                <p>Su sitio web optimizada como una Aplicación web.</p>
            </div>
            <div class="col-md-3 service">
                <div class="icon fa fa-mobile item"></div>
                <h4>Desarrollo WebApp progresive.</h4>
                <p>Su sitio web optimizada como una Aplicación web progresiva instalable en los dispositivos.</p>
            </div>
            <div class="clear"></div>
            <div class="col-md-3 service">
                <div class="icon ion-videocamera item"></div>
                <h4>Producción en Video.</h4>
                <p>Destaque en sus negocio o producto para medios audiovisuales.</p>
            </div>

            <div class="col-md-3 service">
                <div class="icon ion-monitor item"></div>
                <h4>Soluciones Web.</h4>
                <p>Le asesoramos por un posible camino al éxito.</p>
            </div>
            <div class="col-md-3 service">
                <div class="icon ion-email item"></div>
                <h4>Mailmarketing.</h4>
                <p>Estrategia comprobada de mensajería de correos con personalizados diseños.</p>
            </div>
            <div class="col-md-3 service">
                <div class="icon fa fa-planet item"></div>
                <h4>Outsourcing.</h4>
                <p>Con el servicio outsourcing estamos disponibles en las áreas especifica para cada sector brindando un excelente nivel costo-beneficio.</p>
            </div>
            <div class="clear"></div>
            <a class="btn" routerLink="/soluciones-web">+ info</a>
        </div>
    </div>
</section>
<!----section class="content gray">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="intro">
                    <h2>A fantastic price</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="plan item">
                            <h3>Silver</h3>
                            <div class="price">&euro; 20 <span>/m</span></div>
                            <ul>
                                <li><strong>Basic support</strong></li>
                                <li><strong>Basic features</strong></li>
                                <li><strong>Basic documentation</strong></li>
                                <li>10 Iterations</li>
                                <li>Basic concept</li>
                                <li>10 Websites</li>
                                <li>1TB Bandwidth</li>
                            </ul><a href="#" class="btn btn-default">View plan</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="plan highlighted item">
                            <h3>Gold</h3>
                            <div class="price">&euro; 40 <span>/m</span></div>
                            <ul>
                                <li><strong>Premium support</strong></li>
                                <li><strong>Premium features</strong></li>
                                <li><strong>Premium documentation</strong></li>
                                <li>25 Iterations</li>
                                <li>Premium concept</li>
                                <li>25 Websites</li>
                                <li>2.5TB Bandwidth</li>
                            </ul><a href="#" class="btn btn-default">View plan</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="plan item">
                            <h3>Diamond</h3>
                            <div class="price">&euro; 55 <span>/m</span></div>
                            <ul>
                                <li><strong>Unlimited support</strong></li>
                                <li><strong>Unlimited features</strong></li>
                                <li><strong>Unlimited documentation</strong></li>
                                <li>Unlimited Iterations</li>
                                <li>Unlimited concept</li>
                                <li>Unlimited Websites</li>
                                <li>Unlimited Bandwidth</li>
                            </ul><a href="#" class="btn btn-default">View plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section-->

<section>
    <div class="container content">
        <div class=" intro text-center">
            <h1 class="item">Proyectos Recientes en Instagram.</h1>
        </div>
        <div class="instagram--iframe item">
            <!-- LightWidget WIDGET -->
            <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
            <iframe src="https://cdn.lightwidget.com/widgets/d2d1476d7ec75db7bc7cbfd9e936f5ac.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>
    </div>
</section>
<div class="clear"></div>
<!----section>
    <div class="container content">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1>Clientes.</h1>
        </div>
        <div data-visible="4" auto-slide class="slider carousel">
            <ul class="slides">
                <li class="slide text-center item vcenter"><img alt="Malcolm Cordova Studio Design angular" src="./assets/svg/angular.svg" class="thumb"></li>
                <li class="slide text-center item vcenter"><img alt="Malcolm Cordova Studio Design angular" src="./assets/svg/angular.svg" class="thumb"></li>
                <li class="slide text-center item vcenter"><img alt="Malcolm Cordova Studio Design angular" src="./assets/svg/angular.svg" class="thumb"></li>
                <li class="slide text-center item vcenter"><img alt="Malcolm Cordova Studio Design angular" src="./assets/svg/angular.svg" class="thumb"></li>
                <li class="slide text-center item vcenter"><img alt="Malcolm Cordova Studio Design angular" src="./assets/svg/angular.svg" class="thumb"></li>
                <li class="slide text-center item vcenter"><img alt="Malcolm Cordova Studio Design angular" src="./assets/svg/angular.svg" class="thumb"></li>
                <li class="slide text-center item vcenter"><img alt="Malcolm Cordova Studio Design angular" src="./assets/svg/angular.svg" class="thumb"></li>

            </ul>
        </div>
    </div>

</section-->
<div class="clear"></div>