<div class="nav-container">
    <ul class="nav">
        <li><a routerLink="/acerca-de">Acerca de </a></li>
        <li><a routerLink="/soluciones-web">Soluciones web </a></li>
        <li><a href="#">Portafolio </a>
            <ul class="dropdown">
                <li><a routerLink="/portafolio-diseno-web">Diseño Web</a></li>
                <li><a routerLink="/portafolio-diseno-grafico">Diseño Gráfico</a></li>
                <li><a routerLink="/portafolio-audiovisual">Video</a></li>

            </ul>
        </li>
        <li><a routerLink="/contacto">Contacto </a></li>
        <!---li><a href="#">Shop </a>
            <ul class="dropdown">
                <li><a href="pages/shop.html">Shop overview</a></li>
                <li><a href="pages/product.html">Product page</a></li>
                <li><a href="pages/cart.html">Cart</a></li>
            </ul>
        </li-->
    </ul>
    <div class="copyright">2019 &copy; Malcolm Cordova Studio Design. All rights reserved.</div>
    <div class="exit"></div>
</div>